@tailwind base;
@tailwind components;
@tailwind utilities;


/* hide the default cursor */
body {
  cursor: none;
  @apply font-sans;

}

/* orange little ball */
#custom-cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #f06400;
  pointer-events: none;
  z-index: 10000;
  transition: transform 0.1s ease-out;
}

/* dust particles */
#dust-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999;
}

/* particles style */
.dust {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #f06400; 
  border-radius: 50%;
  opacity: 1;
  pointer-events: none;
  animation: dustAnimation 1s forwards;
}

/* keyframes 4 dust animation: moves and fades out */
@keyframes dustAnimation {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(20px, 20px) scale(1.5);
    opacity: 0;
  }
}
